<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Videos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Videos</h1>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/350x200.png?text=Video+1" alt="Video 1">
          <div class="card-body">
            <h5 class="card-title">Video 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ipsum nisi.</p>
            <a href="#" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/350x200.png?text=Video+2" alt="Video 2">
          <div class="card-body">
            <h5 class="card-title">Video 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ipsum nisi.</p>
            <a href="#" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/350x200.png?text=Video+3" alt="Video 3">
          <div class="card-body">
            <h5 class="card-title">Video 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ipsum nisi.</p>
            <a href="#" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
