{% extends "base.html" %}

{% include 'navbar.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h3 class="text-center">Create Account</h3>
            <form action="/users/manage?action=insert" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ obj.data[0].name }}" />
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ obj.data[0].email }}" />
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>

                <div class="form-group">
                    <label for="retype_password">Retype Password:</label>
                    <input type="password" class="form-control" id="retype_password" name="retype_password" />
                </div>

                <div class="form-group">
                    <p></p>
                    <label for="role">Role:</label>
                    <input type="text" class="form-control" id="role" name="role" value="{{ obj.data[0].role }}" />
                </div>

                <input type="submit" class="btn btn-primary justify-content-center" value="Submit" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
